@using Kakariki.Scrabble.SimpleWeb.Models
@model SuggestionsModel

<table class="suggestions">
    <tr>
        <th>Points</th>
        <th>Column</th>
        <th>Row</th>
        <th>Word</th>
    </tr>
    @foreach (var item in Model.Moves)
    {
        <tr>
            @Html.DisplayFor(m => item)
        </tr>
    }
</table>
