@using Kakariki.Scrabble.Logic
@using Kakariki.Scrabble.SimpleWeb.Models

@model SuggestionRequestModel

@using (Html.BeginForm("SuggestWords", "SimpleBoard"))
{
    @Html.EditorFor(m => m.Board)
    @Html.LabelFor(m=>m.Hand.Letters)
    @Html.EditorFor(m => m.Hand.Letters, new  { htmlAttributes = new {maxlength = 7 } })
    <input type="submit" name="submit" value="Submit" />
    @Html.DisplayFor(m => m.Suggestions)
    <label for="tb">Vertical</label> <input type="radio" name="direction" value="tb" id="tb"  />
    <label for="lr">Horizontal</label><input type="radio" name="direction" value="lr" id="lr" checked="checked"/>
}