@using Kakariki.Scrabble.Logic
@using Kakariki.Scrabble.SimpleWeb.Models

@model  BoardModel
<!-- Board.cshtml Starts -->

<table class="board">
    <thead>
        <tr>
            <th></th>
            @for (int column = Board.BOARD_START_INDEX; column <= Board.BOARD_END_INDEX; column++)
            {
                <th>@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int row = Board.BOARD_START_INDEX; row <= Board.BOARD_END_INDEX; row++)
        {
            <tr>
                <th>@row</th>
                @for (int column = Board.BOARD_START_INDEX; column <= Board.BOARD_END_INDEX; column++)
                {
                    <td>
                        @Html.EditorFor(m => m[row][column], new { htmlAttributes = new { maxlength = "1", size = "1", taborder = (row-1) * Board.BOARD_END_INDEX + column, @class = Model[row][column].Style } })
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            @for (int column = Board.BOARD_START_INDEX; column <= Board.BOARD_END_INDEX; column++)
            {
                <th>@column</th>
            }
        </tr>
    </tfoot>
    </table>
            <!-- Board.cshtml Ends -->

